
#mainBody {
    height: 20rem;
    padding-top: 30px;
}

#mainBody {
    /* color: white; */
    height: 500px;
    padding-top: 30px;
    vertical-align: middle;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

#aboutText {
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

img[src="../assets/neu.png"] {
    display: block;
    width: 200px;
    margin-bottom: 100px;
}


.light-background {
    background-image: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) ), url("../assets/light-about.jpg");
    color: rgb(20, 20, 20) !important;
}

.dark-background {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../assets/light-about.jpg");
    color: rgb(255, 255, 255) !important;

}