body {
    margin: 0px;
    width: 100vw;
    margin: auto;
    /* background-image: url("../assets/bga3.jpg"); */
    /* color: white; */
}

.light-background {
    background-image: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) ), url("../assets/light-project.jpg");
    color: rgb(20, 20, 20);
}

.dark-background {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../assets/light-project.jpg");
    color: rgb(255, 255, 255);

}