#themeDiv {
    position: relative;
    left: 90%;
    width: 200px;
    height: 40px;
    background-color: rgb(233, 233, 233);
    border-radius: 20px;
}

#themeBtn {
    height: 30px;
    width: 150px;
    margin: 5px 25px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 16px;
    border: none;
}

#themeBtn:hover {
    cursor: pointer;
}

.light {
    background-color: rgb(61, 61, 61);
    color: rgb(255, 255, 255);
}

.dark {
    background-color: rgb(255, 255, 255);
    color: rgb(61, 61, 61);
}

figure {
    display: flex;
    flex-flow: column;
    max-width: 400px;
    margin: auto;
}

#mainImg {
    /* display: block; */
    width: 400px;
    border-radius: 20px 20px 0px 0px ;
    margin: auto;
}

figcaption {
    background-color: #222;
    color: rgb(255, 255, 255);
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
    border-radius: 0px 0px 20px 20px;
}

a:visited {
    color: brown;
}

.light-background {
    background-image: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) ), url("../assets/light-index.jpg");
    color: rgb(20, 20, 20) !important;
}

.dark-background {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../assets/light-index.jpg");
    color: rgb(220, 220, 220) !important;
}